body {
    background-color:rgb(255, 237, 223);
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body p{
    border-radius: .5rem;
    color: black;
}

.imageBanner{
    border-radius: 2rem;
    width: 35rem;
    height: 8rem;
}

.contact :link, .contact :visited{
    color: #fd4719;
}
.contact :hover{
    color: blue;
}

nav :link, nav :visited{
    color: #fd4719;
}
nav :hover{
    color: blue;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    justify-content: center;
}

.flexItem {
    margin-left: 0rem;
    padding: 1rem;
}

.gridMe{
    display: grid;
    padding-left: 5rem;
    grid-template-columns: repeat(3, 23rem);
    grid-gap: 1rem 1.5rem;
    grid-template-rows: repeat(1, 29rem);
    width: 42rem;
}

.grid-item{
    padding: 1rem;
    }

.imageAbout{
    margin: 3rem;
    border-radius: 1rem;
    width: 16rem;
    height: 20rem;
    
}

h1{
    margin: 2rem;
}
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}