body {
    background-color:papayawhip;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

body p{
    border-radius: .5rem;
    background-color: #ff5c33;
    color: black;
}

.imageBanner{
    border-radius: 2rem;
}

.contact :link, .contact :visited{
    color: #ff5c33;
}
.contact :hover{
    color: blue;
}

nav :link, nav :visited{
    color: #ff5c33;
}
nav :hover{
    color: blue;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    justify-content: center;
}

.flexItem {
    margin-left: 0rem;
    padding: 1rem;
}

.gridMe{
    display: grid;
    grid-template-columns: repeat(4, 19rem);
    grid-gap: 1rem 1.5rem;
    grid-template-rows: repeat(2, 20rem);
    width: 42rem;
}

.grid-item{
    padding: 1rem;
    }

.imageMe{
    margin: 2rem;
    border-radius: 1rem;
    width: 15rem;
    height: 19rem;
    
}

h1{
    margin: 2rem;
}
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}