body {
    background-color: papayawhip;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

/* body p{
    background-color: papayawhip;
    color: black;
} */

.imageBanner{
    border-radius: 2rem;
}
nav :link, nav :visited{
    color: #ff5c33;
}
nav :hover{
    color: blue;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    justify-content: center;
}

.flexItem {
    margin-left: 0rem;
    padding: 1rem;
}

.gitLink :link, .gitLink :visited{
    color: #ff5c33;
}
.gitLink :hover{
    color: blue;
}

.projectIMG{
    border-radius: 1rem;
    width: 20rem;
    height: 13rem;
}
.gridTwo{
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(3, 27rem);
    grid-template-rows: repeat(2, 25rem);
    width: 42rem;
}


h1{
    margin: 2rem;
}

header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}