/* 

#demoButton, #clashButton, #albumButton, #reviewButton, #blogButton, #blackjackButton{
    font-family: 'Josefin Sans', sans-serif;
    color: #fd4719;
    border-radius: 1rem;
}

#techStack{
    font-family: 'Josefin Sans', sans-serif;
    font-size: .8rem;
}

#title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
}


.gitLink :link, .gitLink :visited{
    color: #fd4719;
}
.gitLink :hover{
    color: maroon;
}

.projectIMG{
    border-radius: 1rem;
    width: 20rem;
    height: 12rem;
}
.gridTwo{
    display: grid;
    padding-left: 7rem;
    justify-content: left;
    margin: 2rem;
    grid-template-columns: repeat(3, 28rem);
    grid-template-rows: repeat(1, 20rem);
    width: 42rem;
}
 */
